* {
  box-sizing: border-box;
}
:root {
  --text_color_1: black;
  --text_color_2: #fafafa;
  --button-color1: black;
  --secondary_1: #db4444;
  --secondary_2: #f1efef;
  --secondary_3: #00ff66;
  --bgc: rgb(194, 196, 192);
}
/* quy đổi 1rem = 10px */
html {
  font-size: 62.5%;
}

/* đặt lại font-size mặc định */
body {
  font-size: 1.6rem;
}
/* =====================common=============================== */
a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
.desc {
  color: var(--text_color_1, #000);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.main_content {
  width: 1170px;
  margin: 0 auto;
  /* background-color: #ccb0b0; */
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

/* ===========CSS chung khối section */
.section.desc {
  color: var(--secondary_1, #db4444);
  font-weight: 600;
  line-height: 1.25; /* 125% */
  display: flex;
  position: relative;
  align-items: center;
  gap: 16px;
}

.section.desc::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: var(--secondary_1);
  border-radius: 5px;
}

/* =====code chung cho khối arrow====== */
.arrow .left,
.arrow .right {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* border: 2px solid black; */
  cursor: pointer;
}
.arrow .left:disabled,
.arrow .right:disabled {
  cursor: not-allowed;
}

.arrow .left:hover,
.arrow .right:hover {
  background-color: var(--secondary_1);
  color: var(--text_color_2);
  box-shadow: 1px 1px 5px rgb(128, 127, 127);
  border: none;
}

/* =======code chung cho thẻ product_see====== */
.cart_product {
  width: 23%;
}

.cart_product .product {
  display: flex;
  position: relative;
  height: 250px;
  background-color: var(--secondary_2);
  /* border: 1px solid rgb(216, 216, 216); */
  border-radius: 7px 7px 0 0;

  cursor: pointer;
}

.cart_product .product .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart_product .product .sale {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 12px;
  background-color: var(--secondary_1);
  border-radius: 4px;

  color: var(--text_color_2, #fafafa);
  font-family: Poppins;
  font-size: 1.2rem;
}

.cart_product .product .wish_list {
  display: flex;
  position: absolute;
  top: 12px;
  right: -8px;
  font-size: 21px;
  cursor: pointer;
  color: black;
}

.cart_product .product .wish_list i:last-child {
  color: var(--secondary_1);
  opacity: 0;
}

.cart_product .product .wish_list i.wishlisted {
  opacity: 1;
  font-size: 16px;
  transform: translate(-18.5px, 2px);
}

.cart_product .product .view {
  position: absolute;
  top: 54px;
  right: 12px;
}
.cart_product .product .view a {
  color: var(--text_color_1);
  font-size: 20px;
}

.cart_product .product .add {
  color: var(--text_color_2);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: black;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 7px 7px;
  opacity: 0;
  cursor: pointer;
}
.cart_product .product:hover .add {
  opacity: 1;
  transition: 0.5s;
}
.cart_product .product .add:hover {
  opacity: 0.8;
}
.cart_product .product:hover {
  box-shadow: 1px 1px 5px rgb(179, 178, 178);
}
.cart_product .product:hover .product_img {
  top: 40%;
  transition: 0.5s;
}

.cart_product .infor {
  margin-top: 16px;
}
.cart_product .infor .name {
  color: var(--text_color_1);
  font-weight: 500;
  margin-bottom: 8px;
}

.cart_product .infor .price {
  display: flex;
  gap: 12px;
}

.cart_product .infor .price .after {
  color: var(--secondary_1, #db4444);
  font-weight: 500;
}

.cart_product .infor .price .before {
  color: var(--bgc, #000);
  font-weight: 500;
  text-decoration: line-through;
  margin-bottom: 8px;
}

.cart_product .infor .ratting {
  display: flex;
  gap: 8px;
  align-items: center;
}
.cart_product .infor .ratting .star {
  color: rgb(255, 196, 0);
}
.cart_product .infor .ratting .star i.grey {
  color: grey;
}
.cart_product .infor .ratting .desc {
  color: var(--bgc, #000);
  font-weight: 600;
}

/* =============code chung cho khối btn========== */
.btn {
  padding: 16px 48px;
  background-color: var(--secondary_1);
  border-radius: 10px;

  color: var(--text_color_2, #fafafa);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(99, 99, 99);
}

.btn:hover {
  /* opacity: 0.8; */
  transform: scale(0.98);
}

/* ==================header=================================== */
/* ===============top header================= */
.header {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  background-color: white;
  z-index: 99;
}
.header .top {
  width: 1440px;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
}
.header .top .desc {
  color: var(--text_color_2, #fafafa);
  font-size: 1.4rem;
}

.header .top .shop_now {
  color: var(--text_color_2, #fafafa);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
  text-decoration-line: underline;
}

/* ===============nav================ */

.header .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: sticky;
  top: 0;
}

.header .nav .logo {
  color: var(--text_color_1, #fff);
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.72px;
}

.header .nav .list {
  display: flex;
  gap: 48px;
}

.header .nav .list .item a {
  color: var(--text_color_1, #000);
  display: flex;
  position: relative;
}
/* .header .nav .list .item:first-child a::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--button-color1);
  opacity: 0.6;
  position: absolute;
  bottom: 0;
} */

.header .nav .list .item a:hover {
  font-weight: 600;
}

.header .nav .right {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.header .nav .right .search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .nav .right .search .input {
  border: none;
}

.header .nav .right .search .btn_search {
  font-size: 18px;
  color: rgb(110, 110, 110);
  cursor: pointer;
}

.header .nav .right .search .btn_search:hover {
  color: rgb(29, 28, 28);
}

.header .nav .right .wishlist {
  font-size: 18px;
  cursor: pointer;
}

.header .nav .right .media_cart {
  display: flex;
  position: relative;
}

.header .nav .right .quantity_products_cart {
  position: absolute;
  top: -12px;
  right: -5px;
  background-color: var(--secondary_1);
  width: 17px;
  height: 17px;
  font-size: 1.2rem;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  text-align: center;
  color: white;
  border-radius: 50%;
}

.header .nav .right .cart {
  cursor: pointer;
}

.header .nav .right .cart i {
  font-size: 22px;
  color: rgb(73, 73, 73);
}
.header .nav .right .cart:hover i {
  color: var(--secondary_1);
}
.header .nav .right .account_user {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.header .nav .right .account_user:hover {
  background-color: var(--secondary_1);
  color: var(--text_color_2);
}

.header .nav .right .options_acc {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 12px 10px 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 33px;
  backdrop-filter: blur(10px);
  display: none;
}

.header .nav .right .options_acc .item {
  display: flex;
  gap: 16px;
  margin-top: 13px;
  cursor: pointer;
}
.header .nav .right .options_acc .item:hover .desc {
  border-bottom: 1px solid white;
}
.header .nav .right .options_acc .item .desc {
  color: var(--text_color_2);
  font-weight: 200;
}
.header .nav .right .options_acc .item .icon {
  color: var(--text_color_2);
  font-size: 20px;
}
.header .nav .right .options_acc .item:hover .icon {
  transform: scale(1.05);
}

#acccount_logged_in {
  color: white;
  font-size: 20px;
  margin-left: 32px;
  margin-top: 10px;
}
/* =============main=============== */
/* ==============top main=============== */
.main .top_main {
  display: flex;
  margin-top: 80px;
  gap: 10px;
}

.main .top_main .desc {
  opacity: 0.6;
}

.main .top_main a:last-child .desc {
  opacity: 1;
}

/* ==========product_see============= */
.main .product_see {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.main .product_see .list_secondary_images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid rgb(184, 184, 184);
  padding-right: 30px;
}
.main .product_see .list_secondary_images img {
  width: 121px;
  object-fit: cover;
  padding: 15px;
  /* border: 1px solid black; */
}

.main .product_see .box_main_image {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(190, 190, 190);
}
.main .product_see .main_image {
  width: 300px;
  object-fit: cover;
}

.main .product_see .info {
  width: 400px;
}

.main .product_see .info .title {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
  letter-spacing: 0.72px;
  margin-bottom: 16px;
}

.main .product_see .info .top_info {
  border-bottom: 1px solid rgb(134, 134, 134);
  padding-bottom: 24px;
}
.main .product_see .info .top_info .ratting {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
  align-items: center;
}

.main .product_see .info .top_info .ratting .list_star {
  color: yellow;
}

.main .product_see .info .top_info .ratting .review {
  opacity: 0.6;
}

.main .product_see .info .top_info .ratting p:last-child {
  color: #00ff66;
}

.main .product_see .info .top_info .price {
  font-size: 20px;
  margin-bottom: 20px;
}

.main .product_see .product_options .colours {
  display: flex;
}

.main .product_see .product_options .colours .desc {
  margin-right: 16px;
}

.main .product_see .product_options .colours .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(163, 66, 66);
  margin-right: 10px;
  cursor: pointer;
}

.main .product_see .product_options .colours .dot:last-child {
  background-color: rgb(82, 89, 126);
}

.main .product_see .product_options {
  margin-top: 24px;
}
.main .product_see .product_options .size {
  display: flex;
  margin-top: 24px;
}

.main .product_see .product_options .size .item {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 12px;
  border: 1px solid rgb(189, 188, 188);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
}
.main .product_see .product_options .size p:first-child {
  margin-right: 20px;
}
.main .product_see .product_options .size .item:hover {
  background-color: var(--secondary_1);
  color: var(--text_color_2);
}

.main .product_see .product_options .bot_option {
  display: flex;
  justify-content: space-between;
  height: 44px;
  margin-top: 24px;
}

.main .product_see .product_options .bot_option .change_quantity {
  display: flex;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
}
.main .product_see .product_options .bot_option .change_quantity .change {
  width: 40px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.main
  .product_see
  .product_options
  .bot_option
  .change_quantity
  .change:last-child {
  border-radius: 0 10px 10px 0;
}

.main .product_see .product_options .bot_option .change_quantity .change:hover {
  background-color: var(--secondary_1);
  color: var(--text_color_2);
}

.main .product_see .product_options .bot_option .change_quantity .quantity {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(177, 177, 177);
  border-right: 1px solid rgb(177, 177, 177);
}

.main .product_see .product_options .bot_option .btn {
  height: 44px;
  display: flex;
  align-items: center;
}

.main .product_see .product_options .bot_option .wish_list_product_see {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 7px;
  width: 44px;
  font-size: 2.4rem;
  cursor: pointer;
}

.main .product_see .info .endows {
  padding: 20px;
  margin-top: 40px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
}
.main .product_see .info .endow {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}
.main .product_see .info .endows .endow:last-child {
  border-top: 1px solid rgb(175, 174, 174);
}
.main .product_see .info .endow .icon_endow {
  font-size: 28px;
}

.main .product_see .info .endow .right .desc:last-child {
  font-size: 1.2rem;
}

/* ===========list related ========= */
.bar_related {
  margin-top: 140px;
}

.list_products_related {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

/* ===========footer========== */
.footer {
  background-color: black;
  margin: 0 auto;
  margin-top: 140px;
  padding: 80px 0 120px 0;
  max-width: 1440px;
}

.footer .content {
  display: flex;
  justify-content: space-between;
}
.footer .content .logo {
  color: var(--text_color_2, #fafafa);
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.72px;
}
.footer .content .title {
  color: var(--text_color_2, #fafafa);
  font-size: 2rem;
  margin-bottom: 24px;
}

.footer .content .desc {
  color: var(--t1, #fafafa);
  margin-bottom: 16px;
}

.footer .content .item1 .email {
  display: flex;
  align-items: center;
  position: relative;
}

.footer .content .item1 .email .input {
  height: 36px;
  width: 100%;
  background-color: black;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--text_color_2);
}
.footer .content .item1 .email .icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: var(--text_color_2);
  cursor: pointer;
}

.footer .content .item5 .app {
  display: flex;
  gap: 10px;
}
.footer .content .item5 .desc5 {
  font-size: 1.2rem;
}
.footer .content .item5 .app .stores {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer .content .item5 .network {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 30px;
}

.footer .content .item5 .network .icon {
  color: white;
  font-size: 20px;
}
